body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    padding:10px;
    padding-right:30px;
    margin:20px;
    border-radius: 20px;
    max-width: 800px;
    background-color: #e9e0e0ba;
}   
.header{
    text-align: center;
    margin-bottom: 20px;
}
.seat{
    background-color: rgb(224, 224, 233);
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.seatoptions{
    display: flex;
    justify-content: center;
}
.seatoptions div{
    display: inline-block
}
.submit,.back{
    padding:10px;
    color: rgb(255, 255, 255);
    border: none;
    margin:20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(3, 179, 3);
}
.no-scroll{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.submit-active
{
     background-color:white;
     color:black;
     border:none;
     border-radius:5px;
     cursor:pointer;
     margin:0;
     z-index:100;
     position:fixed;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     width:100%;
     height:100%;
     overflow:hidden;
}